services:
   db:
     image: mysql
     volumes:
       - db_data_wp:/var/lib/mysql
     restart: unless-stopped
     environment:
       MYSQL_ROOT_PASSWORD: password
       MYSQL_DATABASE: wordpress
       MYSQL_USER: admin
       MYSQL_PASSWORD: password
     networks:
      - nginx-network-default

   wordpress:
     image: wordpress
     container_name: wordpress-service
     restart: unless-stopped
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_USER: admin
       WORDPRESS_DB_PASSWORD: password
     ports:
      - 8787:80
     networks:
      - nginx-network-default
     depends_on:
     - db

volumes:
    db_data_wp:
networks:
  nginx-network-default:
    external: true
